@model IEnumerable<FPTStore.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to FPT store book</h1>
<form method="post" style="margin-left: 4%">
    <input type="text" name="txt_key" style=" width: 40%" />
    <button class="btn-outline-primary" type="submit">Search</button>
    <br />
    <label>Number of the book: @ViewBag.Count</label>
</form>

<div class="container">
         <div class="row row-cols-auto">
             @foreach (var item in Model)
            {
            <div class="col" style="margin: 30px">           
            <div class="card" style="width: 18rem;">
            <div class="card-header text-center">
                <img src="@Url.Content("~/resource/image/" + item.ImageUrl)" 
                class="card-top" alt="" width="150" height="200" style="border: 30px">
            </div>
            <div class="card-body " style="height: 200px">
                <h5 class="card-title">Title: @Html.DisplayFor(modelItem => item.Title)</h5>
                <h6 class="card-text">Author: @Html.DisplayFor(modelItem => item.Author)</h6>
                <h6 class="card-text">Publisher: @Html.DisplayFor(modelItem => item.Publisher)</h6>
                <h6 class="card-text">Price: @Html.DisplayFor(modelItem => item.Price) VND</h6>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-outline-info mt-1" asp-controller="Home"
                        asp-action="Details" asp-route-id="@item.Id">More Details</a>
                <button type="button" onclick="add(@item.Id)" class="btn btn-primary mt-1">
                    <i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
            </div>
            </div>
            </div>
            }
    </div>
 
</div>

@section Scripts {
    <script>
        async function add(bookId) {
            try {
                var response = await fetch(`/Cart/AddItem?bookId=${bookId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}




        
    

